In [25]:
# importing of libaries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [14]:
def load_and_explore_dataset(filepath):
    print('=' * 60)
    print("LOAD AND EXPLORE DATASET")
    print('=' * 60)

    df = pd.read_csv(filepath)

    print('shape of the dataset:')
    print(df.shape)
    print('\nCheck for missing values:')
    print(df.isnull().sum())
    print('\nFirst five rows:')
    print(df.head())
    print('\nDescriptive Stats:')
    print(df.describe())
    print('\nDataset info:')
    print(df.info())
    print('\nConditon Distribution:')
    print(df['condition'].value_counts())
    print('\nTransmission Distribution:')
    print(df['transmission'].value_counts())
    
    return df

In [11]:
def preprocessing_data(df):
    print('\n' + '=' * 60)
    print('PREPROCESSING LOAD DATA')
    print('=' * 60)

    df_processed = df.copy()
    df_processed = df.dropna()

    label_encoder = {}
    df_columns = ['make', 'model', 'condition', 'transmission']
    for col in df_columns:
        le = LabelEncoder()
        df_processed[col + '_encoded'] = le.fit_transform(df_processed[col])
        label_encoder[col] = le
        print(f'\n{col} encoded')
        for i, label in enumerate(le.classes_):
            print(f" {label}: {i}")
    print("preprocessed_dataset shape", df_processed.shape)

    return df_processed, label_encoder

In [17]:
def features_data(df_processed):
    print('\n' + '=' * 60)
    print('FEATURES DATA')
    print('=' * 60)

    feature_cols = ['year', 'make_encoded', 'model_encoded', 'condition_encoded', 'transmission_encoded']
    target_col = ['price']

    X = df_processed[feature_cols]
    y = df_processed[target_col]
    
    print('\nFeatures shape', df_processed[feature_cols].shape)
    print('\nTarget shape', df_processed[target_col].shape)

    
    return X, y, feature_cols

In [20]:
def split_data(X, y, test_size=0.2, random_state=42):
    print('\n' + '=' * 60)
    print('SPLITING  DATA')
    print('=' * 60)

    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size, random_state
    )

    print('\n Training set data', X_train.shope[0])
    print('Testing set data', X_test.shape[0])
    print('\nTraining set price range{:.2f} - {:.2f}'.format(y_tain.min(),y_train.max()))
    print('\nTesting set price range{:.2f} - {:.2f}'.format(y_test.min(),y_test.max()))


    return X_train, X_test, y_train, y_test

In [ ]:
def scale_features(X_train, X_test):
    print('\n' + '=' * 60)
    print('SCALE FEATURES  DATA')
    print('=' * 60)
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    
    Print('\nFeatures scaled successfully')
    print('Trainnig scaled set:', X_train_scaled.shape)
    print('Testing scaled set:', X_test_scaled.shape)

    return  X_train_scaled, X_test_scaled, scaler

In [ ]:
def train_model(X_train_scaled, y_train, feature_cols):
    print('\n' + '=' * 60)
    print('SCALE FEATURES  DATA')
    print('=' * 60)

    model = LinearRegression()
    model.fit(X_train_scaled, y_train)
    print('\nModel trained successfully')
    print('\nModel coefficient')
    for features ,coef in zip(feature_cols, model.coef_):
        print(f" {features} : {coef:.2f}")
    print(f'\nModel intercept:{model.intercept_:.2f}')

In [ ]:
def evaluate_model(model, X_train_scaled, X_test_scaled, y_train, y_test):
    print('\n' + '=' * 60)
    print('EVALUATING  DATA')
    print('=' * 60)

    # make prediction

    y_train_pred = model.predict(X_train_scaled)
    y_test_pred = model.predict(X_test_scaled)

    # calculate metrics
    train_r2 = r2_score(y_train_pred, y_train)
    test_r2 = r2_score(y_test_pred, y_test)
    train_rmse = np.sqrt(mean_squared_error(y_train_pred, y_train))
    test_rmse = np.sqrt(mean_squared_error(y_test_pred, y_test))
    train_mae = mean_absolute_error(y_train_pred, y_train)
    test_mae = mean_absolute_error(y_test_pred, y_test)
    
    print('\n' + '=' * 60)
    print('MODEL  PERFORMANCE')
    print('=' * 60)
    print('\nTraining set')
    print(f'R2 score: {train_r2:.2f}')
    print(f'RMSE: {train_rmse:2.2f}')
    print(f'MAE: {train_mae:2.2f}')
    print('\nTestin set')
    print(f'R2 score: {test_r2:.2f}')
    print(f'RMSE: {test_rmse:2.2f}')
    print(f'MAE: {test_mae:2.2f}')
    print('=' * 60)

    # cross validation score
    cv_score = cross_val_score(model, X_train_scaled, cv=5, scoring='r2')
    print('\nCross Validation (5-folds)')
    print(f'R2 Score:{cv_score:.2f}')
    print(f'Cross Validation mean: {cv_score.mean():.2f}')
    print(f"Cross Validation STD : {cv_score.std():.4f}")

    metrics = {
        "train_r2":train_r2,
        "test_r2": test_r2,
        "train_rmse": train_rmse,
        "test_rmse": test_rmse,
        "train_mae": train_mae,
        "test_mae": test_mae,
        "y_train_pred": y_train_pred,
        'y_test_pred':y_test_pred,
        "cv_score":cv_score
    }

    return metrics

In [21]:
def main():
    filepath = 'cleaned_jiji_car_dataset.csv'
    df = load_and_explore_dataset(filepath)
    df_processed, label_encoder = preprocessing_data(df)
    X, y, feature_cols = features_data(df_processed)

In [8]:
if __name__ == "__main__":
    main()

============================================================
LOAD AND EXPLORE DATASET
============================================================
shape of the dataset:
(1755, 7)

Check for missing values:
title           0
make            0
model           0
year            0
condition       0
transmission    0
price           0
dtype: int64

First five rows:
                                               title           make  \
0                            Lexus RX 350 2009 White          Lexus
1  Hyundai Sonata Limited w/Brown Leather 4dr Sed...        Hyundai
2                Toyota Highlander Limited 2012 Gray         Toyota
3  Mercedes-Benz C300 Base AWD 4Matic Sedan (2.0L...  Mercedes-Benz
4                        Hyundai Elantra 2014 Silver        Hyundai

                model  year     condition transmission       price
0              RX 350  2009  Foreign used    Automatic  12850000.0
1      Sonata Limited  2015  Foreign used    Automatic  15450000.0
2  Highlander Limited  2012    Local used    Automatic  14500000.0
3           C300 Base  2015    Local used    Automatic  13800000.0
4             Elantra  2014  Foreign used    Automatic  12000000.0

Descriptive Stats:
              year         price
count  1755.000000  1.755000e+03
mean   2011.833618  1.659713e+07
std       4.354542  1.093591e+07
min    1998.000000  1.700000e+06
25%    2008.000000  8.250000e+06
50%    2013.000000  1.380000e+07
75%    2015.000000  2.250000e+07
max    2024.000000  5.000000e+07

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755 entries, 0 to 1754
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1755 non-null   object
 1   make          1755 non-null   object
 2   model         1755 non-null   object
 3   year          1755 non-null   int64
 4   condition     1755 non-null   object
 5   transmission  1755 non-null   object
 6   price         1755 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 96.1+ KB
None

Conditon Distribution:
condition
Foreign used    981
Local used      773
New               1
Name: count, dtype: int64

Transmission Distribution:
transmission
Automatic    1710
Manual         45
Name: count, dtype: int64

============================================================
PREPROCESSING LOAD DATA
============================================================

make encoded
 Acura: 0
 Audi: 1
 BMW: 2
 Chevrolet: 3
 Chrysler: 4
 Daihatsu: 5
 Dodge: 6
 Ford: 7
 GMC: 8
 Geely: 9
 Honda: 10
 Hyundai: 11
 Infiniti: 12
 Isuzu: 13
 Jeep: 14
 Kia: 15
 Land Rover: 16
 Lexus: 17
 Mazda: 18
 Mercedes-Benz: 19
 Mini: 20
 Mitsubishi: 21
 New: 22
 Nissan: 23
 Opel: 24
 Peugeot: 25
 Pontiac: 26
 Porsche: 27
 Rover: 28
 Skoda: 29
 Toyota: 30
 Volkswagen: 31
 Volvo: 32

model encoded
 206: 0
 207: 1
 3: 2
 3 Series: 3
 300C: 4
 307: 5
 307 SW: 6
 320i: 7
 325i: 8
 328i: 9
 330i: 10
 335i: 11
 406: 12
 407 3: 13
 508: 14
 528i: 15
 535i: 16
 607: 17
 626: 18
 7 Series: 19
 A-Class: 20
 Accent GLS: 21
 Accent Sport: 22
 Accord: 23
 Accord 2: 24
 Accord Automatic: 25
 Accord Crosstour: 26
 Accord EX: 27
 Accord EX-L: 28
 Accord Sedan: 29
 Accord Sport: 30
 Accord Touring: 31
 Allion: 32
 Almera: 33
 Almera 1: 34
 Almera Tino: 35
 Amigo: 36
 Astra Break: 37
 Auris: 38
 Avalon: 39
 Avalon Limited: 40
 Avalon XLE: 41
 Avalon XLS: 42
 Avensis: 43
 Azera Limited: 44
 B-Class: 45
 B-Class B170: 46
 Beetle: 47
 Boxster: 48
 C-Class C: 49
 C-HR: 50
 C180: 51
 C200: 52
 C230: 53
 C300: 54
 C300 Base: 55
 C300 Luxury: 56
 C300 Sport: 57
 C350: 58
 C350 C: 59
 C350 C350: 60
 C400: 61
 C400 4Matic: 62
 C43: 63
 C450: 64
 CLA-Class: 65
 CLA-Class AMG: 66
 CLA-Class CLA: 67
 CLK: 68
 CLS: 69
 CR-V: 70
 CR-V 2: 71
 CR-V EX: 72
 CR-V Touring: 73
 CX-9: 74
 Camaro: 75
 Camry: 76
 Camry 2: 77
 Camry 3: 78
 Camry Automatic: 79
 Camry LE: 80
 Camry SE: 81
 Camry XLE: 82
 Camry XSE: 83
 Cayenne GTS: 84
 Celica: 85
 Challenger SXT: 86
 Charger: 87
 Civic: 88
 Civic 1: 89
 Civic LX: 90
 Civic Sedan: 91
 Civic Sport: 92
 Coolray 1: 93
 Cooper: 94
 Cooper Classic: 95
 Corolla: 96
 Corolla 1: 97
 Corolla L: 98
 Corolla LE: 99
 Corolla S: 100
 Corolla SE: 101
 Corolla XLE: 102
 Corolla XRS: 103
 Corolla XSE: 104
 Corsa: 105
 Crosstour: 106
 Cruze: 107
 E320: 108
 E350: 109
 E350 Base: 110
 E400: 111
 E550: 112
 E63: 113
 ES: 114
 ES 330: 115
 ES 350: 116
 Edge: 117
 Edge Limited: 118
 Edge SEL: 119
 Edge Sport: 120
 Edge Titanium: 121
 Elantra: 122
 Elantra GLS: 123
 Elantra GT: 124
 Elantra Limited: 125
 Elantra Sport: 126
 Element: 127
 Escape: 128
 Escape XLS: 129
 Explorer: 130
 Explorer XLT: 131
 F-150: 132
 FJ Cruiser: 133
 Fit: 134
 Focus: 135
 Forte EX: 136
 Frontier XE-V6: 137
 Fusion: 138
 G-Class Base: 139
 G35 Base: 140
 GL-Class: 141
 GL-Class 450: 142
 GL-Class GL: 143
 GLA 250: 144
 GLA-Class: 145
 GLC-Class: 146
 GLE-Class: 147
 GLE-Class GLE: 148
 GLK-Class: 149
 GLK-Class 350: 150
 GLK-Class Base: 151
 GLS-Class: 152
 GLS-Class GLS450: 153
 GS: 154
 GS 350: 155
 GX: 156
 GX 460: 157
 GX 470: 158
 Golf: 159
 Highlander: 160
 Highlander 3: 161
 Highlander LE: 162
 Highlander Limited: 163
 Highlander Sport: 164
 Highlander V6: 165
 Highlander XLE: 166
 Hilux: 167
 IS: 168
 IS 250: 169
 IS 300: 170
 IS 350: 171
 Jazz: 172
 Jetta: 173
 Juke SL: 174
 LS 460: 175
 LX 570: 176
 Land: 177
 Land Cruiser: 178
 M Class: 179
 MDX: 180
 MDX Advance: 181
 MDX Premium: 182
 MDX SH-AWD: 183
 MDX Sport: 184
 MDX Touring: 185
 Malibu: 186
 Malibu LT: 187
 Matrix: 188
 Matrix Hatchback: 189
 Matrix S: 190
 Micra: 191
 Morning: 192
 Murano SL: 193
 NX 200: 194
 NX 200t: 195
 Octavia: 196
 Odyssey: 197
 Odyssey Touring: 198
 Optima: 199
 Optima EX: 200
 Outlander 2: 201
 Panamera S: 202
 Passat: 203
 Passat 1: 204
 Pathfinder: 205
 Pathfinder LE: 206
 Pathfinder Platinum: 207
 Pathfinder SE: 208
 Picanto: 209
 Pilot: 210
 Pilot EX: 211
 Pilot EX-L: 212
 Pilot SE: 213
 Pilot Touring: 214
 Primera: 215
 Q5: 216
 RAV4: 217
 RAV4 2: 218
 RAV4 3: 219
 RAV4 Adventure: 220
 RAV4 LE: 221
 RAV4 Limited: 222
 RAV4 SE: 223
 RAV4 Sport: 224
 RAV4 XLE: 225
 RC 300: 226
 RDX Base: 227
 RS 5: 228
 RX: 229
 RX 300: 230
 RX 330: 231
 RX 350: 232
 Ray 1: 233
 Ridgeline: 234
 Rio: 235
 Rio 1: 236
 Rover Range: 237
 S-Class S: 238
 S5: 239
 SQ5 3: 240
 Santa Fe: 241
 Sedona LX: 242
 Sentra SV: 243
 Sequoia Limited: 244
 Sienna: 245
 Sienna CE: 246
 Sienna LE: 247
 Sienna Limited: 248
 Sienna SE: 249
 Sienna XLE: 250
 Sienta: 251
 Sonata: 252
 Sonata Limited: 253
 Sonata SE: 254
 Sonata Sport: 255
 Sorento 3: 256
 Sorento LX: 257
 Sorento SX: 258
 Spark: 259
 Spark 1LT: 260
 Sportage: 261
 TLX: 262
 Tacoma: 263
 Tacoma 4dr: 264
 Tacoma Access: 265
 Tacoma Double: 266
 Tacoma Limited: 267
 Tacoma TRD: 268
 Tacoma V6: 269
 Terios 1: 270
 Terrain: 271
 Toyota Corolla: 272
 Tucson: 273
 Tucson Limited: 274
 Tundra: 275
 Tundra SR5: 276
 Veloster: 277
 Venza: 278
 Venza AWD: 279
 Venza LE: 280
 Venza Limited: 281
 Venza V6: 282
 Venza XLE: 283
 Versa 1: 284
 Vibe: 285
 Vibe 2: 286
 Vibe Automatic: 287
 Wrangler Unlimited: 288
 X1: 289
 X3: 290
 X5 xDrive35i: 291
 X6: 292
 XC60 3: 293
 XC90 T6: 294
 Xterra: 295
 Yaris: 296
 Yaris 1: 297
 Yaris L: 298
 Yaris LE: 299
 Yaris iA: 300
 Zafira 1: 301

condition encoded
 Foreign used: 0
 Local used: 1
 New: 2

transmission encoded
 Automatic: 0
 Manual: 1
preprocessed_dataset shape (1755, 11)

============================================================
FEATURES DATA
============================================================

Features shape (1755, 5)

Target shape (1755, 1)